<div >
    <div class="container">
        <div >
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" (click)="abrirmodal()">Crear</button>
            <div>
               <table class="table table table-hover">
                <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">email</th>
                      <th scope="col">name</th>
                      <th scope="col">lastname</th>
                    </tr>
                  </thead>
                  <tbody >
                      <tr *ngFor="let users of users">
                          <td>{{users.id}}</td>
                          <td>{{users.email}}</td>
                          <td>{{users.first_name}}</td>
                          <td>{{users.last_name}}</td>
                      </tr>
                  </tbody>
                </table>
            </div>
          </div>
          <app-modal *ngIf="modal === true" closemodal="closemodal()"></app-modal>
    </div>
</div>
