<div>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <button (click)="closmodal()" class="btn btn-danger">x</button>
          <form [formGroup]="contacto" (ngSubmit)="onSubmit()" >
            <div class="form-group">
              <label>Nombres</label>
              <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                  <div *ngIf="f.name.errors">Por favor, ingresa tus Nombres</div>
              </div>
              <label>Apellido</label>
              <input type="text" formControlName="lastname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" />
              <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                  <div *ngIf="f.lastname.errors">Por favor, ingresa tus Apellidos</div>
              </div>
              <label>Cumpleaños</label>
              <input type="date" formControlName="birthdate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.birthdate.errors }" />
              <div *ngIf="submitted && f.birthdate.errors" class="invalid-feedback">
                  <div *ngIf="f.birthdate.errors">Por favor, ingresa tus Apellidos</div>
              </div>
              <label>Pagar</label>
              <input type="number" formControlName="pay" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pay.errors }" />
              <div *ngIf="submitted && f.pay.errors" class="invalid-feedback">
                  <div *ngIf="f.pay.errors">Por favor, ingresa tus Apellidos</div>
              </div>
              <button type="submit" class="btn btn-primary top"> Crear </button>
          </div>     
          </form>
        </div>
      </div>
    </div>
  </div>